.btn-outline-primary {
    border: 1px solid #5A71FD;
    color: #5A71FD;
}

.btn-primary {
    background-color: #5A71FD;
}
/* NAV */
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-links .logged-in-only{
    color: white;
}
.logged-in-popup{
    background: gainsboro;
    min-width: 150px;
    padding: 5px;
    z-index: 10;
}
.material-icons{
    font-size: 1.5em;
}
.searchContainer {
    background-color: #5a71FD
}

.searchAdvanced {
    background-color: lightslategray;
    color: white;
    padding: 10px;
}
#expand {
    position: absolute;
    left: 50%;
    top: 55px;
    width: 70px;
    height: 50px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.heading {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: #353A40;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.mainEvent {
    margin-top: 25px;
    
    padding: 15px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #353A40;
    color: white;
    text-align: center;
}

#footerText {
    padding: 5px;
}

label {
    padding-left: 10px;
}

.form-control{
    width: 200px;
    margin: 5px;
}

.card-title {
        white-space: nowrap;  
        overflow: hidden;  
        text-overflow: ellipsis;  
        height: 20px;
        margin-bottom: 4px;
    }  
      
    p.block {  
        width: 20px;  
    }

/* search functionality */

#map {
    height: 400px;
    width: 100%;
}

ul {
    list-style: none;
    -webkit-padding-start: 0;
}

.selected {
    background-color: grey;
}

#signing-out-modal {
    background: rgba(255, 255, 255, .8);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.display#signing-out-modal {
    display: none;
}

.button_box2 {
    margin-top: 5px;
    }
    /*-------------------------------------*/
    .cf:before, .cf:after{
    content:"";
    display:table;
    }
    .cf:after{
    clear:both;
    }
    .cf{
    zoom:1;
    }
    /*-------------------------------------*/
    
    .form-wrapper-2 {
    display: block;
    margin: 0 auto;
    width: 500px;
    padding: 15px;
   
    
    }
    .form-wrapper-2 input {
    width: 75%;
    height: 30px;
    padding: 10px 5px;
    float: left;
    border: 0;
    background: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    .form-wrapper-2 input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    .form-wrapper-2 input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    margin-top: -5px;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #353A40;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }
    .form-wrapper-2 button:hover{
    background: #353A40;
    }
    .form-wrapper-2 button:active,
    .form-wrapper-2 button:focus{
    background: #353A40;
    }
    .form-wrapper-2 button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #353A40 transparent;
    top: 12px;
    left: -6px;
    }
    .form-wrapper-2 button:hover:before{
    border-right-color: #353A40;
    }
    .form-wrapper-2 button:focus:before{
    border-right-color: #353A40;
    }
    .form-wrapper-2 button::-moz-focus-inner {
    border: 0;
    padding: 0;
    }
/* external css: flickity.css */

* { box-sizing: border-box; }
.eventCarousel{
    padding-bottom: 50px;
}

.carousel {
  background: #FAFAFA;
  height: 500px

}

.carousel-cell {
  width: 25%;
  height: 400px;
  margin-right: 10px;
  background: white;
}

.card-img-top {
  display: block;
  max-height: 100px;
  margin: 0 auto;
  max-width: 100px;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}
.card-img-top{
    width: 75%;
    /* max-height: 100px;
    max-width: 100px; */
    margin: 0 auto;
}
.card-body p{
    font-size: .8em;
}
.flickity-viewport{
    transition: height 0.2s;
}
.selected-event{
    min-height: 300px;
}
.selected-event img{
    margin: 0 auto;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .img-cont.img-responsive{
    max-width: 100%;
} */
.display{
    display: none;
}
.description{
    padding: 15px;
    margin: 10px 0 10px 15px;
}
.popover-container{
    text-align: center;
}
.popover-container button{
    margin: 10px;
}
.loading{
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.loading.display{
    display: none;
}
.add-to-event{
    margin-left: 10px;
}
.home-container, .my-events-container{
    margin-top: 50px;
}

/* MY EVENTS*/
.my-event-list{
    max-height: 300px;
    border: 2px dotted gray;
    overflow: auto;
}
.my-event-list li{
    border-bottom: 1px dotted black;
    min-height: 50px;
}
.my-event-list li:hover{
    background: grey;
}
/* #map{
    margin-top: 50px;
} */
/* RESPONSIVE MEDIA QUERIES */
@media screen and (max-width: 600px){
    .carousel-cell{
        width: 100%;
    }
}
@media screen and (max-width: 900px){
    .carousel-cell{
        width: 50%;
    }
}